<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Name of our awesome app -->
    <title>Arabic Sign Language Recognition</title>

    <!-- Reference to JQuery-->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js"></script>

    <!-- Sockets library-->
    <script src="https://cdn.socket.io/4.0.2/socket.io.min.js"
        integrity="sha384-Bkt72xz1toXkj/oEiOgkQwWKbvNYxTNWMqdon3ejP6gwq53zSo48nW5xACmeDV0F"
        crossorigin="anonymous"></script>

</head>

<body>
    <video id="cameraView" autoplay="true" playsinline="true"></video>
    <img id="predictionImage">
    <div id="messageArea"></div>
    <script src="{{url_for('static',filename='js/app.js')}}"></script>
</body>

</html>